.pricebox-section {
  padding: 2rem 4rem!important;
}

.pricebox__list {
  padding: .7rem 4rem;
  color: #555;
}

.pricebox__pro-link {
  display: block;
  width: 22rem;
  padding: 1rem 0;
}

.pricebox__price-name {
  font-weight: 700;
}

.pricebox__info-text {
  font-size: 1.7rem;
  color: #555;
}