.upl-viewer__item {
  min-height: 50px;
}

.upl-viewer__icon {
  display: inline-flex!important;
  height: 45px;
  width: 50px;
  justify-content: center;
  align-items: center;
  font-size: 30px!important;
}